@page "/counter"
@using ClassLibrary1.Classes

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    PublicClass publicClass = new();
    //InternalClass internalClass = new();
    PrviateBaseClass privBaseClass = new();
    //PrviateClass privClass = new();

    private void IncrementCount()
    {
        privBaseClass.Calculate(12);
        currentCount++;
    }
}
